@page
@model EntityFW.Pages.Customers.CreateModel
<form method="post">
    <div class="form-group">
        <label>Name</label>
        <input asp-for="Customer.Name" class="form-control" />
        <span asp-validation-for="Customer.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Email</label>
        <input asp-for="Customer.Email" class="form-control" />
        <span asp-validation-for="Customer.Email" class="text-danger"></span>
    </div>
    <button type="submit">Save</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}